.header {
    padding: 1em 0;
    margin-bottom: 2em;
}

.nav-container ul {
    width: 20%;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
}

.nav-link {
    cursor: pointer;
}

.Blog {
    color: orange;
}

.Home:hover, .Blog:hover {
    color: gold;
}