a {
    all: unset
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;

    padding: 1em;
    margin-bottom: 2em;
}

.nav-bar {
    display: flex;
    justify-content: space-between;

    width: 20%;
    margin-inline: auto;
}

.Blog{
    color: orange;
   
}

.Home, .Blog {
    cursor: pointer;
}

.Blog:hover, .Home:hover {
    color: rgb(247, 128, 85);
}



